.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; 
  height: 100vh;
  overflow-y: auto; 
  z-index: 2000; 
}

.flex-fill {
  margin-left: 250px; 
}
.nav-link:hover {
  background-color: #2e3f50;
  color: #e9f1ea;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

custom-bg-dark {
  background-color: hsl(134, 29%, 29%); 
}

.nav-link {
  color: #093746;
  font-weight: 500;
}

.navbar {
  margin-bottom: 20px;
}
